#skills #skills-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#skills #skills-list li {
  font-size: 5em;
  display: inline-block;
  margin: 15px 20px;
}
